doctype html
html
    head
        link(rel='stylesheet', href='/css/index.css')
        title KML Tools
    body
        .header
            h1.page-title KML web tools with R, shiny, and GDAL.

.main-content
include KMLshinyappsIO.html
.footer
    p  - Jess Sullivan -

s
